  <mat-toolbar class="toolbar">
      <mat-card-title><i routerLink="/" class="material-icons">work</i></mat-card-title>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="onNavigateProject()">
    <i  class="material-icons project">assignment_ind</i>
    </button>
    
 <button  class="btnAdd"  mat-raised-button  (click)="onNavigateEmp()">
       <i  class="material-icons">add</i>
 </button>


    </mat-toolbar>